{{ form_errors(form) }} 
    <div class="form-group">
        {{ form_label(form.pool, 'question.pool'|trans, {'label_attr': {}}) }}
    </div>  
    <div class="form-group">                       
        {{ form_widget(form.pool, { 'attr': {'class': 'form-control'} }) }}
    </div>                          
    <div class="form-group">
        {{ form_label(form.title, 'global.literal.title'|trans, {'label_attr': {}}) }}
    </div>
    <div class="form-group">  
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.question, 'question.question'|trans, {'label_attr': {}}) }}
    </div>
    <div class="form-group">                        
        {{ form_widget(form.question, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="col-12 row">
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.required, 'question.required'|trans, {'label_attr': {}}) }}
            </div>  
            <div class="form-group" >                       
                {{ form_widget(form.required, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                {{ form_label(form.weight, 'question.weight'|trans, {'label_attr': {}}) }}
            </div>  
            <div class="form-group">                       
                {{ form_widget(form.weight, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

            <div class="form-group">
                {{ form_label(form.answerType, 'lov.answer_type'|trans, {'label_attr': {}}) }}
            </div>  
            <div class="form-group" >                       
                {{ form_widget(form.answerType, { 'attr': {'class': 'form-control'} }) }}
            </div>

    
    
        <div class="form-group">
            {{ form_label(form.content, 'question.content'|trans, {'label_attr': {}}) }}
        </div>
        <div class="form-group">                        
            {{ form_widget(form.content, { 'attr': {'class': 'form-control summernote'} }) }}
        </div>
        <div class="form-group {% if test.typeTest.conditional != 'training' %} d-none {% endif %}" >
            {{ form_label(form.comment, 'question.comment'|trans, {'label_attr': {}}) }}
        </div>
        <div class="form-group{% if test.typeTest.conditional != 'training' %} d-none {% endif %}" >                        
            {{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.knowledges, 'menu.formation.knowledge.list'|trans, {'label_attr': {}}) }}
        </div>
        <div class="form-group">                        
            {{ form_widget(form.knowledges, { 'attr': {'class': 'form-control'} }) }}
        </div>  
        
    {{ form_rest(form) }} 
