{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- navigator -->
    <div class="lms-breadcrumb">
        <span><a href="
            {% if is_granted('ROLE_APPRENANT') %} {{ path('home_dashboard') }}
            {% elseif is_granted('ROLE_TUTEUR') %} {{ path('dashboard_tuteur') }}
            {% elseif is_granted('ROLE_CONCEPTEUR') %} {{ path('sondage_view') }}
            {% elseif is_granted('ROLE_ADMIN') %} {{ path('admin_user_index') }}
            {% else %} {{ path('home_dashboard') }}
            {% endif %}">{{lms_name}}</a></span> > <span class="bold">{{ 'menu.concepteur.session' | trans }}</span>
    </div>

    <!-- title of page -->
    <div class="d-flex align-items-center lms-title">
	    <h1 class="text-uppercase lms-h1">{{ 'session.list.title'|trans }}</h1><hr>
    </div>

    <div class="row mb-5">
        <div class="col-12 text-right">
            <a href="{{ path('admin_session_create') }}" class="lms-button lms-button-blue mr-5">
                <i class="material-icons lms-material-icons">add</i>
                {{'session.list.create'|trans}}
            </a>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped lms-table" id="tablefiltre">
                <thead class="thead-dark">
                    <tr>
                        <th>{{'global.literal.title'|trans}}</th>
                        <th>{{'global.literal.date'|trans}}</th>
                        <th>{{'formation.formation_path.literal'|trans}}</th>
                        {#<th class="text-center">{{'global.literal.is_session'|trans}}</th>#}
                        <th class="text-center">{{'global.literal.learner'|trans}}</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <thead id="filtreForm">
                    <tr>
                        <th>{{'global.literal.title'|trans}}</th>
                        <th>{{'global.literal.date'|trans}}</th>
                        <th>{{'formation.formation_path.literal'|trans}}</th>
                        {#<th class="text-center">{{'global.literal.is_session'|trans}}</th>#}
                        <th class="text-center">{{'global.literal.learner'|trans}}</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>

                <tbody>
                    {% for session in sessions %}
                        {% set encours = "" %}
                        {% if date(session.openingDate) <= date() and date(session.closingDate) >= date() %}{% set encours = "lms-bg-primary text-white" %}{% endif %}
                        <tr >
                            <td class="{{ encours }}">{{ session.title }}</td>
                            <td class="{{ encours }}">du {{session.openingDate | date('d/m/Y')}} au {{session.closingDate | date('d/m/Y')}}</td>
                            <td class="{{ encours }}">
                                <select class="form-control">
                                    <option>{{session.formationPath.title}}</option>
                                    {% for fm in session.formationPath.formationPathModules %}
                                        <option disabled> &bull;  {{ fm.module.title }} <i class="lms-text-secondary text-uppercase">V.{{ fm.module.version}}</i> <i class="text-dark">({{ fm.module.regulatoryRef }})</i></option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="{{ encours }}">
                                <select class="form-control">
                                    <option>{{ session.users | length }} {{ session.users | length > 1 ? 'Apprenants' : 'Apprenant' }} </option>
                                    {% for u in session.users %}
                                        <option disabled>&bull; {{ u.firstname }} {{ u.lastname }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="text-right {{ encours }}">
                                <!-- user_formation_module -->
                                {% set my_session = false %}
                                {% for u in session.users %}
                                    {% if u.id == app.user.id %}
                                        {% set my_session = true %}
                                    {% endif %}
                                {% endfor %}
                                
                                    <a href="{{ path('admin_session_edit', {'slug':session.slug}) }}" class="icon" data-toggle="tooltip" data-original-title="{{ 'global.edit'|trans }}">
                                        <i class="material-icons lms-material-icons {% if encours %}text-white{% endif %}" data-original-title="edit">edit</i>
                                    </a> 
                                           
                                {% if session.isValid %}
                                    {#<a href="#" data-toggle="modal" data-target="#modal-{{session.slug}}" class="icon" data-toggle="tooltip" data-original-title="{{ 'global.desactiver' | trans }}">
                                    
                                    </a>  #}
                                {% else %}
                                    <a href="#" data-toggle="modal" data-target="#modal-{{session.slug}}" class="icon" data-toggle="tooltip" data-original-title="{{ 'global.activate' | trans }} ">
                                       
                                    </a>
                                {% endif %}
                                {#<a href="#" class="icon" data-toggle="tooltip" data-original-title="{{ 'envoyer_mail' | trans }} ">
                                
                                </a>  #}
                                {#<a href="javascript:void(0)" class="icon" data-toggle="tooltip" data-original-title="{{ 'global.stats' | trans }} ">
                                
                                </a>#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block js %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            // ======================================================================================
            //=======================================table===========================================
            // ======================================================================================
            $('#filtreForm th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" class="form-control" placeholder="{{"global.table.search"|trans}} '+title+'" />' );
            } );

            var table = $('#tablefiltre').DataTable({
            colReorder: true,
            responsive: false, 
            ordering:  true, 
            searching: true,
            paging: true,
            language: {
                decimal:        "",
                emptyTable:     "-",
                info: "[_START_/_END_]  <b>{{"global.table.total"|trans}} : </b>_TOTAL_",
                infoEmpty:      "0/0   [0]",
                infoFiltered:   "({{"global.table.filteredForm"|trans}} _MAX_ {{"global.table.entries"|trans}})",
                infoPostFix:    "",
                thousands:      " ",
                lengthMenu:     "<b>{{"global.table.Entries"|trans}}</b> _MENU_",
                loadingRecords: "{{"global.table.loadingRecords"|trans}}...",
                processing:     "{{"global.table.processing"|trans}}...",
                search:         "<b>{{"global.table.search"|trans}}</b>:",
                zeroRecords:    "{{"global.table.zeroRecords"|trans}}",
                paginate: {next:       ">>", previous:   "<<"},
                
            },
        });
                
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', $('#filtreForm th')[colIdx] ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );

                // ======================================================================================
            //=======================================table end=========================================
            // ======================================================================================
        })
    </script>
{% endblock %}