{% trans_default_domain 'FOSUserBundle' %}

<div class="row justify-content-md-center py-3">
    <div class="col-md-12">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="card bg-light">
            <div class="card-header  ">
                <i class="material-icons lms-material-icons">lock_open</i>
                <span>{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</span>
            </div>
            <div class="card-body">
                <div class="form-group">
                    {{ form_label(form.current_password,   'form.current_password'|trans({}, 'FOSUserBundle' )) }}
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control form-group'} }) }} 
                    {{ form_errors(form.current_password) }}
                </div>    
                <div class="form-group">
                    {{ form_label(form.plainPassword.first,   'form.new_password'|trans({}, 'FOSUserBundle' ) ) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control form-group'} }) }} 
                    {{ form_errors(form.plainPassword.first) }}
                </div>    
                <div class="form-group">
                    {{ form_label(form.plainPassword.second,   'form.new_password_confirmation'|trans({}, 'FOSUserBundle' ) ) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control form-group'} }) }} 
                    {{ form_errors(form.plainPassword.second) }}
                </div>                 
                {# form_widget(form) #}
                 <div class="form-group">
                    <button type="submit" class="lms-button lms-button-blue">
                        <i class="material-icons lms-material-icons">save</i>
                        <span>{{ 'change_password.submit' | trans }}</span>
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>