
<div class="row form-container">
	<div class="col col-12 col-xl-12">
		<div class="form-group">
            {{ form_label(form.title,  'formation.formation_path.title'|trans ) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.title) }}
        </div>  
		<div class="form-group">
            {{ form_label(form.description,  'formation.formation_path.description'|trans ) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control summernote'} }) }}
            {{ form_errors(form.description) }}
        </div>  
    </div>
</div> 

<div class="row justify-content-around">      
    <button type="submit" class="lms-button lms-button-blue"><i class="material-icons lms-material-icons">save</i> {{ 'global.submit'|trans }}</button>
</div>           
{{ form_end(form) }}
