{% extends 'base.html.twig' %}

{% block title %}Lexique index{% endblock %}

{% block body %}
    <h1>Lexique index</h1>

    <table class="table table-bordered table-striped lms-table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>IsValid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lexique in lexiques %}
            <tr>
                <td>{{ lexique.id }}</td>
                <td>{{ lexique.title }}</td>
                <td>{{ lexique.description }}</td>
                <td>{{ lexique.isValid ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_lexique_show', {'id': lexique.id}) }}">show</a>
                    <a href="{{ path('admin_lexique_edit', {'id': lexique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_lexique_new') }}">Create new</a>
{% endblock %}
