<!-- Footer -->
<footer class="container-fluid p-3 text-center lms-footer">
    <p class="d-inline-block my-0 mx-3">{{version_core}} &ndash; {{ "now" | date('d/m/Y')}} &ndash; <span id="lmsClockDisplay">{{ "now" | date('H:i A')}}</span></p>
    <p class="d-inline-block my-0 mx-3"><a href="#">{{"global.doc"|trans}}</a> &ndash; <a href="{{ path('lms_faq') }}">{{"global.faq"|trans}}</a></p>
    <p class="d-inline-block my-0 mx-3">Copyright © {{ "now" | date('Y')}} <a href=".">{{lms_name}}</a>. Powered by <a href="#" target="_blank">Europharma</a> All rights reserved.</p>
</footer>
<!-- Fin footer -->