<a href="{{ path('admin_lovManagement_list', {'entity': 'AnswerType' }) }}" class="lms-button {% if entity == "AnswerType" %}lms-button-blue{% endif %} mt-2"> {{ 'lov.answerType'|trans }} </a>

<a href="{{ path('admin_lovManagement_list', {'entity': 'Civility' }) }}" class="lms-button {% if entity == "Civility" %}lms-button-blue{% endif %} mt-2"> {{ 'lov.civility'|trans }} </a>

<a href="{{ path('admin_lovManagement_list', {'entity': 'Country' }) }}" class="lms-button {% if entity == "Country" %}lms-button-blue{% endif %} mt-2"> {{ 'lov.country'|trans }} </a>

<a href="{{ path('admin_lovManagement_list', {'entity': 'TypeTest' }) }}" class="lms-button {% if entity == "TypeTest" %}lms-button-blue{% endif %} mt-2"> {{ 'lov.type_test'|trans }} </a>

<a href="{{ path('admin_lovManagement_list', {'entity': 'ModuleType' }) }}" class="lms-button {% if entity == "ModuleType" %}lms-button-blue{% endif %} mt-2"> {{ 'lov.module_type'|trans }} </a>

<a href="{{ path('admin_lovManagement_list', {'entity': 'ValidationMode' }) }}" class="lms-button {% if entity == "ValidationMode" %}lms-button-blue{% endif %} mt-2"> {{ 'lov.validation_mode'|trans }} </a>

<a href="{{ path('admin_lovManagement_list', {'entity': 'PageType' }) }}" class="lms-button {% if entity == "PageType" %}lms-button-blue{% endif %} mt-2"> {{ 'lov.page_type'|trans }} </a>
