{% extends "@FOSUser/layout.html.twig" %}

{# {% trans_default_domain 'FOSUserBundle' %} #}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('build/css/app.css')}}">
{% endblock %}
{% block fos_user_content %}
     <div class="lms-login-bloc">
		<div class="lms-login-form">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col col-login mx-auto">
                            <form action="{{ path('user_reset_pasword_mail') }}" method="POST" class="fos_user_resetting_request">
                                <div class="card-body p-6">
                                    <div class="card-title h2">
                                            <i class="material-icons lms-material-icons">account_circle</i>
                                            {{'user.password.title'|trans}}
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            {{'user.password.info_reset'|trans}}
                                            {# {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }} #}
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="lms-login-img">
            <img src="{{asset('images/core/illus-connexion.svg')}}" alt="" />
        </div>
	</div>	
{% endblock %}
