{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("assets/summernote/summernote-bs4.css") }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <!-- navigateur -->
    <div class="lms-breadcrumb">
        <span> <a href=" {% if is_granted('ROLE_APPRENANT') %} {{ path('home_dashboard') }} {% elseif is_granted('ROLE_TUTEUR') %} {{ path('dashboard_tuteur') }} {% elseif is_granted('ROLE_CONCEPTEUR') %} {{ path('sondage_view') }} {% elseif is_granted('ROLE_ADMIN') %} {{ path('admin_user_index') }} {% else %} {{ path('home_dashboard') }} {% endif %}">{{lms_name}}</a> </span> > <span> <a href="{{path('admin_formation_path_list')}}">{{'formation.list.ariane_gestion'|trans}}</a> </span> > <span class="bold">{{formationPath.title}}</span>
    </div>

    <!-- title of page -->
    <div class="d-flex align-items-center lms-title">
        <h1 class="text-uppercase lms-h1">{{'formation.list.action.edit'|trans}}</h1>
        <hr>
    </div>

    <!-- body of page -->
    <div class="text-uppercase text-center d-flex flex-column flex-sm-row align-items-center justify-content-sm-start">
        <span class="px-4 px-lg-5 py-1 lms-session-tab lms-session-tab-actif">{{ 'formation.formation_path.description' | trans }}</span>
        {% if formationPath is not null and formationPath.activeSession == false %}
            <a class="px-4 px-lg-5 py-1 lms-session-tab" href="{{ path('admin_formation_path_edit_module', {'slug' : formationPath.slug}) }}">{{ 'formation.formation_path.list.add_module' | trans }}</a>
        {% endif %}
            <a class="px-4 px-lg-5 py-1 lms-session-tab" href="{{ path('admin_formation_path_view', {'slug' : formationPath.slug}) }}">{{ 'formation.formation_path.list.view' | trans }}</a>
    </div>

    <form action="{{ path('admin_formation_path_edit', {'slug' : formationPath.slug}) }}" method="post" class="d-flex flex-column flex-lg-row justify-content-lg-between p-5 lms-bg-gray" enctype="multipart/form-data">
        {% include "FormationManagement/FormationPath/form.html.twig" %}
    </form>


{% endblock %}

{% block js %}
    {{ parent() }}

    <script src="{{ asset("assets/summernote/summernote-bs4.js") }}"></script>

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 150,
                toolbar: [
                    [ 'style', [ 'bold', 'italic', 'underline', 'clear' ] ],
                    [ 'color', ['color'] ],
                    [ 'para', [ 'ul', 'ol' ] ]
                ]
            });
        });
    </script>
{% endblock %}
