{{ form_start(form) }}
    {# form_widget(form) #}
    <div class="form-group">
          {{form_row(form.title, {label_attr: {class: 'form-label'} }) }}
    </div>
    <div class="form-group">
          {{form_row(form.author, {label_attr: {class: 'form-label'} }) }}
    </div>
    <div class="form-group">
          {{form_row(form.date, {label_attr: {class: 'form-label'} }) }}
    </div>        
    <button type="submit" class="lms-button lms-button-blue ml-auto"><i class="material-icons lms-material-icons">save</i> {{ 'global.submit' | trans }}</button>
{{ form_end(form) }}
