<div class="row">
    <div class="form-group col-4">
        {{ form_label(formModuleTest.module, 'test.module'|trans) }}
    </div>        
    <div class="form-group col-8">    
        {{ form_widget(formModuleTest.module, { 'attr': {'class': 'form-control', 'disabled': 'disabled'} }) }}
        {{ form_errors(formModuleTest.module) }}
    </div>
</div>  
<div class="row">   
    <div class="form-group col-4">
        {{ form_label(formModuleTest.title, 'test.title'|trans) }}
    </div>        
    <div class="form-group col-8">      
        {{ form_widget(formModuleTest.title, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(formModuleTest.title) }}
    </div>
</div>  
<div class="row">       
    <div class="form-group col-4">
        {{ form_label(formModuleTest.typeTest, 'lov.type_test'|trans) }}
    </div>        
    <div class="form-group col-8">      
        {{ form_widget(formModuleTest.typeTest, { 'attr': {'class': 'form-control col-4', 'disabled': 'disabled'} }) }}
        {{ form_errors(formModuleTest.typeTest) }}
    </div>
</div>  
<div class="row">      
    <div class="form-group col-4">
        {{ form_label(formModuleTest.theoricalDuration, 'test.theorical_duration'|trans) }} 
    </div>        
    <div class="form-group col-8">      
        {{ form_widget(formModuleTest.theoricalDuration, { 'attr': {'class': 'form-control col-4', 'placeholder': 'hh:mm', 'pattern':'^[0-5][0-9]\:[0-5][0-9]\.[0-9]{1,3}$' } }) }}
        {{ form_errors(formModuleTest.theoricalDuration) }}
    </div>
</div>  
<div class="row">      
    <div class="form-group col-4">              
        {{ form_label(formModuleTest.score, 'test.score'|trans) }}
    </div>        
    <div class="form-group col-8 row">      
        {{ form_widget(formModuleTest.score, { 'attr': {'class': 'form-control col-2', 'placeholder': '80'} }) }} <span class="ml-2 pt-1">{{"%"}}</span>
        {{ form_errors(formModuleTest.score) }}  
    </div>
</div> 
<div class="row">       
    <div class="form-group col-4">
        {{ form_label(formModuleTest.chronoQuestion, 'test.chronoQuestion'|trans) }}    
    </div>        
    <div class="form-group col-8">          
        {{ form_widget(formModuleTest.chronoQuestion, { 'attr': {'class': ''} }) }}          
        {{ form_widget(formModuleTest.chronoQuestionTime, { 'attr': {'class': 'form-control col-4', 'placeholder': 'hh:mm', 'pattern':'^[0-5][0-9]\:[0-5][0-9]\.[0-9]{1,3}$'} }) }}
        {{ form_errors(formModuleTest.chronoQuestionTime) }}    
    </div>
</div> 
<div class="row">       
    <div class="form-group col-4">
        {{ form_label(formModuleTest.chronoTest, 'test.chronoTest'|trans) }}   
    </div>        
    <div class="form-group col-8">          
        {{ form_widget(formModuleTest.chronoTest, { 'attr': {'class': ''} }) }}           
        {{ form_widget(formModuleTest.chronoTestTime, { 'attr': {'class': 'form-control col-4', 'placeholder': 'hh:mm', 'pattern':'^[0-5][0-9]\:[0-5][0-9]\.[0-9]{1,3}$'} }) }}
        {{ form_errors(formModuleTest.chronoTestTime) }}   
    </div> 
</div>     
<div class="row">  
    <div class="form-group col-4">
        {{ form_label(formModuleTest.numberTry, 'test.numberTry'|trans) }}
    </div>        
    <div class="form-group col-8">      
        {{ form_widget(formModuleTest.numberTry, { 'attr': {'class': 'form-control col-2', 'placeholder': '3'} }) }}
        {{ form_errors(formModuleTest.numberTry) }}    
    </div>    
</div>  
<div class="row {% if conditional != 'eval' or module.modulePreTest == null or module.modulePreTest.pools|length < 1 %}d-none{% endif %}">      
    <div class="form-group col-4 ">
        {{ form_label(formModuleTest.isTestCommune, 'test.is_test_commune'|trans) }}
    </div>        
    <div class="form-group col-8">          
        {{ form_widget(formModuleTest.isTestCommune, { 'attr': {'class': ''} }) }}
        {{ form_errors(formModuleTest.isTestCommune) }} 
    </div>
</div> 
<div class="row {% if module.type.conditional != 'presentiel' %}d-none{% endif %}">      
    <div class="form-group col-4 ">
        {{ form_label(formModuleTest.isTestPresentiel, 'test.is_test_presentiel'|trans) }}
    </div>        
    <div class="form-group col-8">          
        {{ form_widget(formModuleTest.isTestPresentiel, { 'attr': {'class': ''} }) }}
        {{ form_errors(formModuleTest.isTestPresentiel) }} 
    </div>
</div>
{# form_widget(formModuleTest) #}