{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}  

<link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-fileupload/bootstrap-fileupload.css') }}" />
{% endblock %}

{% block body %}
<div class="lms-breadcrumb">
    <span><a href="
				{% if is_granted('ROLE_APPRENANT') %} {{ path('home_dashboard') }}
        {% elseif is_granted('ROLE_TUTEUR') %} {{ path('dashboard_tuteur') }}
				{% elseif is_granted('ROLE_CONCEPTEUR') %} {{ path('sondage_view') }}
				{% elseif is_granted('ROLE_ADMIN') %} {{ path('admin_user_index') }}
				{% else %} {{ path('home_dashboard') }}
				{% endif %}">{{lms_name}}</a></span> >  <span><a href="{{path('admin_laboratory_list')}}">{{ 'laboratory.action.list' | trans }}</a></span> > <span class="bold">{{ 'laboratory.action.create' | trans }} </span>
</div>
<div class="d-flex align-items-center lms-title">
	<h1 class="text-uppercase lms-h1">{{ 'laboratory.action.create' | trans }}</h1><hr>
</div>		

<div class="row row-cards">
  <div class="col col-12 d-md-none">
    {% include "UserManagement/menu.html.twig" %}
  </div>

  <div class="col col-12"> 
    <div class="card-body">
      <form action="{{ path('admin_laboratory_create')}}" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% include "UserManagement/Laboratory/form.html.twig" %}
      </form>
    </div>                   
  </div>
</div>    

{% endblock %}

{% block js %}
    {{ parent() }} 
    
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js" integrity="sha256-SOuLUArmo4YXtXONKz+uxIGSKneCJG4x0nVcA0pFzV0=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"  integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('assets/bootstrap-fileupload/bootstrap-fileupload.js') }}"></script>
<script>
$('#dropdown-users .dropdown-menu').addClass('show');
</script> 
{% endblock %}